@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');

@layer utilities{
	/* Hide scrollbar for Chrome, Safari and Opera */
	.no-scrollbar::-webkit-scrollbar {
		display: none;
	}
   /* Hide scrollbar for IE, Edge and Firefox */
	.no-scrollbar {
		-ms-overflow-style: none;  /* IE and Edge */
		scrollbar-width: none;  /* Firefox */
  }
}

.testi-img{
	background-image: url('../assets/images/me3.jpg');
	background-size: cover;
	/* background-position: center left; */
	background-repeat: no-repeat;
	border-radius: 30% 70% 53% 47% / 26% 46% 54% 74%;
}

.didac-font{
	font-family: "Didact Gothic", sans-serif;
}

.banner-img{
	animation: anim 20s infinite;
	border: 1px solid #c44953;
    aspect-ratio: 1;
	box-shadow: 0 2px 20px #c44953;
	border-radius: 30% 70% 53% 47% / 26% 46% 54% 74%;
}

@keyframes anim {
	0%,
	100% {
		border-radius: 30% 70% 70% 30% / 30% 52% 48% 70%;
	}

	10% {
		border-radius: 50% 50% 20% 80% / 25% 80% 20% 75%;
	}

	20% {
		border-radius: 67% 33% 47% 53% / 37% 20% 80% 63%;
	}

	30% {
		border-radius: 39% 61% 47% 53% / 37% 40% 60% 63%;
	}

	40% {
		border-radius: 39% 61% 82% 18% / 74% 40% 60% 26%;
	}

	50% {
		border-radius: 100%;
	}

	60% {
		border-radius: 50% 50% 53% 47% / 72% 69% 31% 28%;
	}

	70% {
		border-radius: 50% 50% 53% 47% / 26% 22% 78% 74%;
	}

	80% {
		border-radius: 50% 50% 53% 47% / 26% 69% 31% 74%;
	}

	90% {
		border-radius: 20% 80% 20% 80% / 20% 80% 20% 80%;
	}
}